.button {
  height: 48px;
  padding: 15px 30px;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.btn--color--purple {
  color: #fff;
  background: #8F00FF;
  border-color: #8F00FF;
}

.btn--color--purple:hover {
  background: #741BBA;
  border-color: #741BBA;
}

.btn--color--white {
  color: #8F00FF;
  background: none;
  border-color: #8F00FF;
}

.btn--color--white:hover {
  color: #741BBA;
  border-color: #741BBA;
}

.btn--color--none {
  background: none;
  border-color: #fff;
  color: #fff;
}

.btn--color--none:hover {
  border-color: #8E8E8E;
  color: #8E8E8E;
}

.btn--color--gray {
  background: #8E8E8E;
  border-color: #8E8E8E;
  color: #fff;
}

.btn--color--gray:hover {
  background: #2B2B2B;
  border-color: #2B2B2B;
  color: #fff;
}

.btn--color--purple:hover, .btn--color--white:hover, .btn--color--none:hover, .btn--color--gray:hover {
  transition: .5s;
}
