/* .socials {
  position: absolute;
  top: 39px;
  right: 230px;
} */

.socials__list {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.socials__link {
  opacity: .6;
  background: center center no-repeat;
}

.socials__link:hover {
  opacity: 1;
}

.socials__icon {
  width: 33px;
}